<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="zh-cmn-CN"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>打包后台系统</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="渠道SDK打包后台系统" name="description" />

	<meta content="Jackie Zhuang" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="{{ url_for('static', filename='dist-sub/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>

    <link href="{{ url_for('static', filename='dist-sub/css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css"/>

    <link href="{{ url_for('static', filename='dist-sub/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>

    <link href="{{ url_for('static', filename='dist-sub/css/style-metro.css') }}" rel="stylesheet" type="text/css"/>

    <link href="{{ url_for('static', filename='dist-sub/css/style.css') }}" rel="stylesheet" type="text/css"/>

    <link href="{{ url_for('static', filename='dist-sub/css/style-responsive.css') }}" rel="stylesheet" type="text/css"/>

    <link href="{{ url_for('static', filename='dist-sub/css/default.css') }}" rel="stylesheet" type="text/css" id="style_color"/>

    <link href="{{ url_for('static', filename='dist-sub/css/uniform.default.css') }}" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->


    {% block head %}

	<!-- HERE TO DEFINE SOME PAGE LEVEL CONFIGURATIONS IN HEAD, USUALLY LIKE CSS STYLES -->

    {% endblock %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='dist-sub/image/favicon.ico') }}" />

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed page-footer-fixed">

    <!-- FLASH MSG START -->

    {% for message in get_flashed_messages() %}

    <div class="alert alert-warning">

        <button type="button" class="close" data-dismiss="alert">&times;</button>

        {{ message }}

    </div>

    {% endfor %}

    <!-- FLASH MSG END -->


    <!-- BEGIN HEADER -->

	<div class="header navbar navbar-inverse navbar-fixed-top">

		<!-- BEGIN TOP NAVIGATION BAR -->

		<div class="navbar-inner">

			<div class="container-fluid">

				<!-- BEGIN LOGO -->

				<a class="brand" href="index.html">

                    <img src="{{ url_for('static', filename='dist-sub/image/logo.png') }}" alt="logo" />

				</a>

				<!-- END LOGO -->

				<!-- BEGIN RESPONSIVE MENU TOGGLER -->

				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

                    <img src="{{ url_for('static', filename='dist-sub/image/menu-toggler.png') }}" alt="" />

				</a>

				<!-- END RESPONSIVE MENU TOGGLER -->

				<!-- BEGIN TOP NAVIGATION MENU -->

				<ul class="nav pull-right">

					<!-- BEGIN USER LOGIN DROPDOWN -->

					<li class="dropdown user">

						<a href="#" class="dropdown-toggle" data-toggle="dropdown">

                            <img alt="" src="{{ url_for('static', filename='dist-sub/image/avatar1_small.jpg') }}" />

						<span class="username">Jackie Zhuang</span>

						<i class="icon-angle-down"></i>

						</a>

						<ul class="dropdown-menu">

                            <li><a href="{{ url_for('login') }}"><i class="icon-user"></i> My Profile</a></li>

							<li class="divider"></li>

                            <li><a href="{{ url_for('logout') }}"><i class="icon-key"></i> Log Out</a></li>

						</ul>

					</li>

					<!-- END USER LOGIN DROPDOWN -->

				</ul>

				<!-- END TOP NAVIGATION MENU -->

			</div>

		</div>

		<!-- END TOP NAVIGATION BAR -->

	</div>

	<!-- END HEADER -->

	<!-- BEGIN CONTAINER -->

	<div class="page-container row-fluid">

		<!-- BEGIN SIDEBAR -->

		<div class="page-sidebar nav-collapse collapse">

			<!-- BEGIN SIDEBAR MENU -->

			<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

					<form class="sidebar-search">

						<div class="input-box">

							<a href="javascript:;" class="remove"></a>

							<input type="text" placeholder="Search..." />

							<input type="button" class="submit" value=" " />

						</div>

					</form>

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

				<li class="start ">

					<a href="index.html">

					<i class="icon-home"></i>

					<span class="title"> 首页</span>

					</a>

				</li>


				<li class="active ">

					<a href="javascript:;">

					<i class="icon-table"></i>

					<span class="title"> SDK接入</span>

					<span class="selected"></span>

					<span class="arrow open"></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="form_layout.html"> 新建SDK</a>

						</li>

					</ul>

				</li>

				<li class="">

					<a href="javascript:;">

					<i class="icon-briefcase"></i>

					<span class="title"> 游戏接入</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="page_timeline.html">

							<i class="icon-time"></i> 新建游戏</a>

						</li>

						<li >

							<a href="page_coming_soon.html">

							<i class="icon-cogs"></i> 关联SDK</a>

						</li>

					</ul>

				</li>

				<li class="">

					<a href="javascript:;">

					<i class="icon-gift"></i>

					<span class="title"> 上传打包</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li >

							<a href="extra_profile.html"> 母包上传</a>

						</li>

						<li >

							<a href="extra_lock.html"> 添加任务</a>

						</li>

                        <li >

							<a href="extra_lock.html"> 查看渠道包</a>

						</li>

					</ul>

				</li>

			</ul>

			<!-- END SIDEBAR MENU -->

		</div>

		<!-- END SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->

				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							母包上传

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="index.html">首页</a>

								<i class="icon-angle-right"></i>

							</li>

							<li>

								<a href="#">上传打包</a>

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="#">母包上传</a></li>

						</ul>

						<!-- END PAGE TITLE & BREADCRUMB-->

					</div>

				</div>

				<!-- END PAGE HEADER-->

                {% block content %}

                <!-- HERE DEFINE MAIN CONTENT -->

                {% endblock %}

			</div>

			<!-- END PAGE CONTAINER-->

		</div>

		<!-- END PAGE -->

	</div>

	<!-- END CONTAINER -->
    <!-- BEGIN FOORTER -->

    <div class="footer">

        <div class="footer-inner">

            2015 &copy; <a href="http://www.youmi.net" target="_blank" title="广州优蜜移动科技股份有限公司">广州优蜜移动科技股份有限公司</a>

            &nbsp; 负责人: Jackie Zhuang &nbsp; 邮箱:zhuangsigui@youmi.net

        </div>

        <div class="footer-tools">

            <span class="go-top">

                <i class="icon-angle-up"></i>

            </span>

        </div>

    </div>

    <!-- END FOORTER -->

    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

    <script src="{{ url_for('static', filename='dist-sub/js/jquery-1.10.1.min.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='dist-sub/js/jquery-migrate-1.2.1.min.js') }}" type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

    <script src="{{ url_for('static', filename='dist-sub/js/jquery-ui-1.10.1.custom.min.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='dist-sub/js/bootstrap.min.js') }}" type="text/javascript"></script>

	<!--[if lt IE 9]>

    <script src="{{ url_for('static', filename='dist-sub/js/excanvas.min.js') }}"></script>

    <script src="{{ url_for('static', filename='dist-sub/js/respond.min.js') }}"></script>

	<![endif]-->

    <script src="{{ url_for('static', filename='dist-sub/js/jquery.slimscroll.min.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='dist-sub/js/jquery.blockui.min.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='dist-sub/js/jquery.cookie.min.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='dist-sub/js/jquery.uniform.min.js') }}" type="text/javascript" ></script>

	<!-- END CORE PLUGINS -->

    {% block jsplugin %}

	<!-- HERE TO DEFINE SOME PAGE LEVEL CONFIGURATIONS AFTER FOORTER, USUALLY LIKE JS PLUGINS -->

    {% endblock %}

	<!-- END JAVASCRIPTS -->

</body>

<!-- END BODY -->

</html>
